extends layout

block content
  h1.cover-heading Invalid input...
  p.lead You can set a timer by adding the duration to the URL, as a number followed by 'h' for hours, 'm' for minutes or 's' for seconds.
  p.lead 
    | For example: enter 
    a(href='https://start.webtimer.link/2h40m30s') start.webtimer.link/2h40m30s 
    | into the address bar to set a timer for 2 hours, 40 minutes and 30 seconds.