extends layout

block content
  h1= message
  p You can set a timer in the URL by entering the length as a number followed by 'h' for hours or 'm' for minutes.
  p For example: https://webtimer.herokuapp.com/2h40m will set a timer for 2 hours and 40 minutes.
