extends layout

block content
  h1#setMessage No timer set... Try adding a duration to the URL! ⤴️
  h1#timeRemaining 
  hr
  p You can set a timer in the URL by entering the length as a number followed by 'h' for hours, 'm' for minutes or 's' for seconds.
  p For example: https://webtimer.herokuapp.com/2h40m30s will set a timer for 2 hours, 40 minutes and 30 seconds.