doctype html
html
  head
    title webtimer
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-141782109-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-141782109-1');
    script.
      const h = #{h}
      const m = #{m}
      const s = #{s}
    script(src="/javascripts/script.js")

  body
    audio#ding
      source(src='/audio/timerEndTone.mp3' type='audio/mpeg')
    block content
