doctype html
html
  head
    title webtimer
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      const h = #{h}
      const m = #{m}
      const s = #{s}
    script(src="/javascripts/script.js")
  body
    block content
